body, html {
  background-color: #1e1e2f;
  color: white;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.china-map {
  margin: auto;
  width: 100%;
  max-width: 600px; /* 限制最大宽度 */
  border: none; /* 明确设置无边框 */
}

.btn-custom {
  background-color: #3a3a4f;
  border: 1px solid #3a3a4f;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  margin: 5px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 auto; /* 设置按钮在小屏幕上的布局 */
}

.btn-custom:hover {
  background-color: #50506e;
  border-color: #50506e;
}

.province-text {
  fill: white;
  text-anchor: middle;
}

.province-active {
  fill: #1e1e2f; /* Light blue */
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .btn-custom {
    font-size: 12px;
    padding: 8px 16px;
  }
}
